<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>pixelfacebook</name>
	<displayName><![CDATA[Consolidación de Pedidos]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[This is the Facebook extension for Prestashop]]></description>
	<author><![CDATA[Tony ID]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
